/*Temp Coming soon image centering*/
.centered {
	margin-left: auto;
	margin-right: auto;
	text-align:center
}
.outerbox {
	width: 100vw;
	height: 100vh;
	position: relative;
	background-image: url("../images/gshsdemonslogo.jpg");
	background-repeat:no-repeat;
	background-position: center center;
}

#pink {
	color: pink;
}

/* end temp */

html,body {
	margin:0;
	padding:0;
}

.headerdiv {
	width: 100vw;
	height: 16vw;
	background-color: darkred;
	position: fixed;
	margin: 0;

}

#headerlogo {
	max-height: 15vw;
	float: left;
}

#headertext {
	margin: 0;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size: 5vw;
	text-align: center;
	font-weight: bold;

}

#nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

#nav li {
	float: left;
}


